<%= render "shared/header" %>

<div class='main'>
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      恋の疑問を解決するラブライク
    </h2>
    <p class='service-explain'>
      ラブライクは誰でも簡単に相談できる
    </p>
    <p class='service-explain'>
      全ての人の恋愛が成就するアプリです
    </p>
  </div>
</div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>


  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      ラブライクが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "4220178_s.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          些細なことでも気軽に相談できる
        </h3>
        <p class='reason-list-description'>
          自分で溜め込まずみんなに話せる
        </p>
      </li>
      <li class='list'>
        <%= image_tag "4191062_l.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          シンプルで使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい規約はなく、検索も送金もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "4193334_m.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          素晴らしい
          <span class='reason-list-blue-text'>投稿でチップがもらえるかも</span>
        </h3>
        <p class='reason-list-description'>
          ためになるアドバイスをしてトップアドバイザーになろー！
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>


  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>

    <p class='ad-explain'>
      ラブライクは、日本の新時代を先駆ける最高のアプリ。
    </p>
    <p class='ad-explain'>
      登録者数・投稿数・回答数も業界トップを目指します！
    </p>
    <p class='ad-explain'>
      長年の疑問もここで解決できるかもしれません。
    </p>
  
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
  <ul class='item-lists'>
  <%# /商品一覧 %>

  <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    <% if @loves[0] != nil %>  
      <% @loves.each do |love| %>
        <li class='list'>
          <%= link_to lofe_path(love.id) do %>
            <div class='item-img-content'>
              <%= image_tag love.image, class: "item-img" %>
            </div>
            <div class='item-info'>
              <%# タイトルを表示-------------------------%>
              <h3 class='item-name'>
                <%= love.title %>        
              </h3>
             <%# タイトルを表示--------------------------%>
              <div class='item-price'>
                名前：<%= love.user.nickname %>
              </div>
                <div class='item-price'>
                性別：<%= love.user.seibetu.name %>
              </div>
             <div class='item-price'>
                職業：<%= love.user.work.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
  <%# -------------------------------------------------------------------------- %>
    <% else %>
      <%= link_to '#' do %>
        <%= image_tag "anime.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            記事を投稿してね！
          </h3>
          <div class='item-price'>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<%= link_to(new_lofe_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag '603344.png' , size: '585x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/second-footer"%>

