<%= render "shared/header" %>


<div class="user-show">
    <div class="ccc">
        <div class="mybox1" >
          ユーザーのプロフィール
        </div>
        <div  class="bbb1">
          名前：<%= @user.nickname  %>
        </div>
        <div class="bbb2">
          性別：<%= @user.seibetu.name %> 
        </div>
        <div class="bbb3">
          職業：<%= @user.work.name %>
         </div>
        <div class="bbb4">
          年齢：<%= @user.age %>歳
        </div>
    </div>
</div>

<%= render "shared/second-footer"%>