<%# CSS・・・assets/stylesheets/shared/header.css %>

<%# localhost:3000/tweets/search?keyword=7&commit=検索 %>
<%# localhost:3000/?keyword=大好き&commit=検索 %>

<header class='top-page-header'>


  <div class='search-bar-contents'>
    <%= link_to image_tag("名称未設定2.png", class:"furima-icon"), "/" %>
     <%= form_with(url: search_romances_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードを検索してね", class: "input-box", required: true %>
           <%# <div class="register-btn">  %>
                  <%= form.submit "検索", class: "a112-btn" %>
            <%# </div> %>
    <% end %>
  </div>

  
          <div class='nav'>
            <ul class='lists-left'>
              <li><%= link_to '       ', "#", class: "category-list" %></li>
              <li><%= link_to '       ', "#", class: "brand-list" %></li>
     
            </ul>
            <ul class='lists-right'>
              <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
              <% if user_signed_in? %>
                <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
              <% else %>
                <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
              <% end %>
            </ul>
          </div>
</header>