 <% if user_signed_in? %>  
  <%# 「liked_by?(post.id)」は、ユーザーが「いいね」を押しているかどうかを判別するためのメソッド %>
    <%# binding.pry %>


    <% if current_user.liked_by?(romance.id) %>      
      <td>
      <%= link_to  romance_destroy_like_path(romance), class: "like-link", method: :DELETE, remote: true do %> 
       <i class="fa fa-heart unlike-btn"></i>
      <% end %>
      <%= romance.likes.count %>
      </td>


      <%# binding.pry %>
    <% else %>
      <td>
        <%= link_to romance_create_like_path(romance), class: "like-link",  method: :POST, remote: true do %> 
        <i class="fa fa-heart like-btn"></i>
        <% end %>
        <%= romance.likes.count %> </td>
      </td>
         


    <% end %>

  <% else %>

    <td> 読者観閲数<%= romance.likes.count %> </td>
          
 <% end %>




