



 <% if user_signed_in? %>  
  <%# 「liked_by?(post.id)」は、ユーザーが「いいね」を押しているかどうかを判別するためのメソッド %>
    <%# binding.pry %>


    <% if current_user.liked_by?(romance.id) %>      
      <td>
          読者観閲数<%= romance.likes.count %>
      
      <%= link_to 'いいね外ずす', romance_destroy_like_path(romance), method: :DELETE, remote: true %> <%= romance.likes.count %></td>
      <%# binding.pry %>
    <% else %>
      <td><%= link_to 'いいね付ける', romance_create_like_path(romance), method: :POST, remote: true %> <%= romance.likes.count %></td>
      <%# binding.pry %>
    <% end %>
 <% end %>




