 <% if user_signed_in? %>  
  <%# 「liked_by?(post.id)」は、ユーザーが「いいね」を押しているかどうかを判別するためのメソッド %>
    <%# binding.pry %>


      <% if current_user.liked_by?(romance.id) %>     
          <td>
            観閲済マークをはずす
                            <%# binding.pry %>
            <%= link_to destroy_like_path(romance), class: "like-link", data: { confirm: '本当に取り消しますか？' }, method: :DELETE, remote: true do %>
              <i class="fa fa-heart unlike-btn"></i>
            <% end %>
            <%= romance.likes.count %>
          </td>
      <% else %>
          <td>
              観閲済マークを付ける
                  <%# binding.pry %>
              <%= link_to create_like_path(romance), class: "like-link", method: :POST, remote: true do %>
                <i class="fa fa-heart like-btn"></i>
              <% end %>
            <%= romance.likes.count %>
          </td>
      <% end %>

<% else %>

    <td> 読者:閲覧数<%= romance.likes.count %> </td>
          
 <% end %>



 <%#= button_to '応援してるよを取り消す', romance_like_path(@romance), method: :delete , class: "item-red-btn", data: { confirm: '本当に取り消しますか？' } %>
