<%= render "shared/header" %>


<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @romance.title %>
    </h2>

    <div class="box0">
        <%= link_to '#', class:'abc' do %>
          投稿者：<%= @romance.user.nickname %>
        <% end %>
    </div>

    <div class="box1">
        <%= @romance.info1 %>
    </div>
    <%# ログインユーザーか？ %>
    <% if user_signed_in? %>  
       <%# 投稿者とログインユーザーが同じ %>

      <% if current_user == @romance.user %>  
          <%= link_to '編集する', edit_romance_path(@romance.id), method: :get, class: "item-red-btn" %>
          <%= link_to '記事を削除', romance_path(@romance.id), method: :delete, class:'item-destroy' , data: { confirm: '本当に削除しますか？' } %>
      
        <% if @comments[0] != nil %>  

          <div class="container">
            <%= form_with(model: [@romance, @comment], local: true) do |form| %>
             <%# エラーメッセージ------------------------------------------------------------------------ %>
              <%= render 'shared/error_messages', model: form.object %>
             <%# エラーメッセージ------------------------------------------------------------------------ %>
             <%# binding.pry %>

                  <%= form.text_area :text, class:"box2", placeholder: "例）〇〇さん、アドバイスありがとう。何度もそのような話し合いはしているんですが。。。
俺が悪かった直すと言って最後に機嫌取りをされての繰り返しで…冷めなんですかね…" %>
                    <div style="text-align: center">
                      <%= form.submit "アドバイザーに返信" ,class:"a111-btn" %>
                    </div>
                  <% end %>
          </div>
         <% end %>
      <% else %>
  

        <div class="box15">
        <%# binding.pry %>
          <%= form_with(model: [@romance, @comment], local: true) do |form| %>
            <%= render 'shared/error_messages', model: form.object %>
            <%= form.text_area :text, class:"box2", placeholder: "例）「慣れ」と「飽き」がきているのかも。
付き合いが長いと段々と好きとか甘い言葉を言うのはなんだか照れ臭くなってしまいますよね。
安定した付き合いに慣れを感じて頑張って好かれていようとしなくなって扱いが雑になっていったり。
もしかしたら、みんなの前での明るい彼は頑張ってつくっていてあなたの前のそれが素の状態なのかも。" %>
            <div class="parent">
               <%= form.submit "アドバイスを送信" ,class:"a111-btn" %>
            </div>
          <% end %>
        </div>

      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
    </div>

    <div class="comments">
      <% if @comments %>
            <% @comments.each do |comment| %>
              <div class="box1">

                <% if comment.user == @romance.user %>  
                    投稿者本人：<%= comment.user.nickname %>  <%#= link_to romance_comment_path(comment.id) do %>
                <% else %>
                    アドバイザー：<%= comment.user.nickname %>
                 <% end %>

                  <p><%= comment.text %> </p>
                  <% if current_user == comment.user %>  
                    <%= link_to '編集する', romance_comment_path(@romance,comment) %> 
                  <% end %>

                  <% if current_user == @romance.user %> 
                     <%= link_to '削除する', romance_comment_path(@romance,comment) %>
                  <% end %>

              </div>
            <% end %>

        <%# <%= link_to '削除', romance_comment_path(comment.id), method: :delete, class:'item-destroy' %> 
      <% else %>
          <div class="box1">
          アドバイザーとしてコメントを投稿しよう
          <p>例)彼女のLINEがそっけないです</p>
          </div>
      <% end %>
    </div>



<%= render "shared/second-footer"%>

   <%# <div class="form-group"> %>
      <%# <div class='parent'> %>
        <%# <%= f.submit "ログイン" ,class:"login-red-btn" %>
      <%# </div> %>
    <%# </div> %>
    
  <%# </div> %>