





<%= render "shared/header" %>


<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @romance.title %>
    </h2>

    <div class="box0">
        <%#= link_to '#', class:'abc' do %>
           <%# binding.pry %>

        <%= link_to "投稿者：#{@romance.user.nickname}", user_path(@romance.user.id),class:'abc' %>
         <%#= link_to "投稿者：#{@romance.user.nickname}", "/users/#{@romance.user.id}", class:'abc' %>
        
        
    </div>
    <div class="box1">
        <div class="boxz">
            <%= @romance.info1 %>
        </div>
    </div>
    
    <%# ログインユーザーか？ %>
    <% if user_signed_in? %>  
       <%# 投稿者とログインユーザーが同じ %>

      <% if current_user == @romance.user %>  
          <%= link_to '編集する', edit_romance_path(@romance.id), method: :get, class: "item-red-btn" %>
          <%= link_to '記事を削除', romance_path(@romance.id), method: :delete, class:'item-destroy' , data: { confirm: '本当に削除しますか？' } %>
      
                    
          <div  class="romance" data-id1=<%= @romance.id %> data-check1=<%= @romance.kaiketu %>>
            <div class="btn-gradient-3d1">解決したよ </div>
          </div>



        <% if @comments[0] != nil %>  

          <div class="container">
                  <%= form_with(model: [@romance, @comment], local: true) do |form| %>
                    <%# エラーメッセージ------------------------------------------------------------------------ %>
                      <div class='parent2'>
                      <%= render 'shared/error_messages', model: form.object %>
                      </div>
                    <%# エラーメッセージ------------------------------------------------------------------------ %>
                    <%= form.text_area :text, class:"box2", placeholder: "例）〇〇さん、アドバイスありがとう。何度もそのような話し合いはしているんですが。。。
        俺が悪かった直すと言って最後に機嫌取りをされての繰り返しで…冷めなんですかね…" , required: true %>
                      <div class='parent2'>
                        <%= form.submit "アドバイザーに返信" ,class:"a111-btn" %>
                      </div>
                  <% end %>
          </div>
         <% end %>

      <% else %>
  

          <div class="box15">
              <%= form_with(model: [@romance, @comment], local: true) do |form| %>
                    <%= render 'shared/error_messages', model: form.object %>
                    <%= form.text_area :text, class:"box2", placeholder: "例）「慣れ」と「飽き」がきているのかも。
        付き合いが長いと段々と好きとか甘い言葉を言うのはなんだか照れ臭くなってしまいますよね。
        安定した付き合いに慣れを感じて頑張って好かれていようとしなくなって扱いが雑になっていったり。
        もしかしたら、みんなの前での明るい彼は頑張ってつくっていてあなたの前のそれが素の状態なのかも。" , required: true %>
                    <div class="parent">
                      <%= form.submit "アドバイスを送信" ,class:"a111-btn" %>
                    </div>
              <% end %>
          </div>

      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
    </div>

     <%#= render 'shared/error_messages', model: form.object %>
    <div class="comments">
 
      <% if @comments %>
            <% @comments.each do |comment| %>
            
                  <div class="box1">
                   
                    <div class="box1a">
                      <% if comment.user == @romance.user %>  
                          投稿者本人：<%= comment.user.nickname %>  
                      <% else %>
                          アドバイザー：<%= comment.user.nickname %>
                      <% end %>
                   </div>

                  <div class="box1b">
                    <%= comment.text %> 
                  </div>
                    <% if user_signed_in? %>  
                        <div class="box1c">
                              <% if current_user == comment.user %>  
                                <%= link_to '編集', edit_romance_comment_path(@romance,comment), class:'box3c' %> 
                              <% end %>

                              <% if current_user == @romance.user %> 
                                  <% if @romance.user != comment.user %>  
                                    <%= link_to 'アドバイザーに返信', edit_romance_comment_path(@romance,comment), class:'box3c'  %>
                                  <% end %>
                                   <%= link_to '削除', comment_path(comment.id), method: :delete , class:'box4c', data: { confirm: '本当に削除しますか？' } %>
                              <% end %>

                              <% if current_user != @romance.user %> 
                                  <% if current_user == comment.user %>  
                                    <%= link_to '削除', comment_path(comment.id), method: :delete , class:'box4c', data: { confirm: '本当に削除しますか？' } %>
                                  <% end %>
                               <% end %>
                          </div>
                    <% end %>

                      <% if current_user == @romance.user %> 
                        <% if @romance.user != comment.user %>  
                          <div  class="comment" data-id=<%= comment.id %> data-check=<%= comment.checked %>>
                            <div class="btn-gradient-3d">アドバイス読んだよ </div>
                          </div>
                        <% end %>
                      <% end %>

                      <% if current_user != @romance.user %>
                          <% if current_user == comment.user %> 
                            <% if comment.checked %> 
                              <div  class="red1">投稿者：既読済み </div>
                            <% end %>
                          <% end %>
                      <% end %>

              </div>

            <% end %>

        <%# <%= link_to '削除', romance_comment_path(comment.id), method: :delete, class:'item-destroy' %> 
      <% else %>
          <div class="box1">
          アドバイザーとしてコメントを投稿しよう
          <p>例)彼女のLINEがそっけないです</p>
          </div>
      <% end %>
    </div>

      <% if current_user == @romance.user %> 
           <td> 読者:閲覧数<%= @romance.likes.count %> </td>

      <% else %>
           <%# binding.pry %>
        <table>
          <tbody>
              <tr id="romance_<%= @romance.id %>">
                <%#= render 'romance', romance: @romance %>   <%#  %>
                <%= render partial: 'romances/romance', locals: { romance: @romance } %>
              </tr>
          </tbody>
        </table>
      <% end %>




<div class="links0">

      <% if @romance.next.present? %>
        <div>
          <%= link_to "＜ 前の記事",romance_path(@romance.next), class: "change-item-btn" %>

        <%# else %>
         <%# <a href="#" class="change-item-btn">後ろの記事はありません</a> %>

      <% end %>
        </div>

    <% if @romance.previous.present? %>
      <div >
        <%= link_to "後ろの記事 ＞", romance_path(@romance.previous), class: "change-item-btn"%>
    
    <% else %>

    <a href="#" class="change-item-btn">後ろの記事はありません</a>

    <% end %>
        </div>

</div>


<%= render "shared/second-footer"%>

