<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @romance.title %>
    </h2>

    <div class="box0">
        <%= link_to '#', class:'abc' do %>
          投稿者：<%= @romance.user.nickname %>
        <% end %>
    </div>
    <div class="box1">
        <%= @romance.info1 %>
    </div>
    <%# ログインユーザーか？ %>
    <% if user_signed_in? %>  
       <%# 出品者とログインユーザーが同じ %>
       <%# binding.pry %>
      <% if current_user == @romance.user %>  
          <%= link_to '削除', romance_path(@romance.id), method: :delete, class:'item-destroy' %>
          <div class="container">
            <%= form_with(model: [@romance, @comment], local: true) do |form| %>

              <%= render 'shared/error_messages', model: form.object %>
                  <%= form.text_area :text, class:"box2", placeholder: "アドバイザーに返信する" %>
               <div style="text-align: center">
                <%= form.submit "送信" %>
              </div>
            <% end %>
          </div>
      <% else %>



        <div class="box15">
          <%= form_with(model: [@romance, @comment], local: true) do |form| %>
            <%= render 'shared/error_messages', model: form.object %>
            <%= form.text_area :text, class:"box2", placeholder: "アドバイスを投稿する" %>
            <div class="parent">
               <%= form.submit "送信" %>
            </div>
          <% end %>
        </div>

      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
    </div>

    <div class="comments">
      <% if @comments %>
            <% @comments.each do |comment| %>
              <div class="box1">

                <% if comment.user == @romance.user %>  
                  投稿者本人：<%= comment.user.nickname %>
                <% else %>
                  アドバイザー：<%= comment.user.nickname %>
                 <% end %>

                <p><%= comment.text %> </p>
              </div>
            <% end %>

        <%# <%= link_to '削除', romance_comment_path(comment.id), method: :delete, class:'item-destroy' %> 
      <% else %>
          <div class="box1">
          アドバイザーとしてコメントを投稿しよう
          <p>例)彼女のLINEがそっけないです</p>
          </div>
      <% end %>
    </div>



<%= render "shared/second-footer"%>
